parameters:
    reportUnmatchedIgnoredErrors: false
    scanDirectories:
        - ../../bitrix
    bootstrapFiles:
        - php.stan.constants.php
    level: 6
    paths:
        - ../php_interface/lib/Craft/DDD