//@forward 'vuetify/styles';
//@forward "core/fw";

@use "system/variable" as *;

@use "system/fonts";
@use "system/common";
@use "system/full-width-page";
@use "system/forms";
@use "system/modals";
@use "system/custom";

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}