@use "variable";

.primary-btn {
  border: 1px variable.$primary-color-custom solid;
  color: black;
  border-radius: 5px;
  padding: 4px 10px;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: variable.$primary-color-custom;
    color: white;
  }
}