@use "variable" as *;

.primary-btn {
  border: 1px $primary-color-custom solid;
  color: black;
  border-radius: 5px;
  padding: 4px 10px;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-custom;
    color: white;
  }
}

.btn-main {
  background: $button-color !important;;
  border-radius: 30px !important;
  padding: 17px 43px !important;
  height: auto !important;

  .v-btn__content {
    color: $white-color !important;
  }

  .v-btn__append {
    margin-inline: 15px;
  }
}