$primary-color-custom: #da0fb4;
$gray-color: #979797;
$light-blue-color: #f6f6f6;
$blacked: #3d3d3d;
$menu-blacked: #4b4b4b;
$fast-search-color: #cacaca;
$bo-color-name: #292929;
$bo-char-label: #dadada;
$about-mark: #e6f2ff;
$about-text-border: #9fccff;
$button-color: #ef4a1c;
$white-color: #fff;
$stat-border-color: #e3e3e3;
$footer-bg: #464646;
$footer-short: #8a8a8a;
$filter-bg: #f9f9f9;
$bod: #739afe;
$house-bg: #517cea;
$personal-reward-bg: #5da3f5;
$ref-title-color: #96c7ff;

$transition-link: 0.2s ease all;

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Unbounded", sans-serif;
  --third-family: "Tilda Sans", sans-serif;
  --font3: "SF Pro", sans-serif;
}

$extra_brake_point_min: 1920;
$large_brake_point_min: 1580;
$small_brake_point_min: 1200;
$tablet_brake_point_min: 991;
$phone_brake_point_min: 640;
$start_phone_brake_point_min: 375;

$extra_brake_point_max: $extra_brake_point_min - 1; /* 1919 */
$large_brake_point_max: $large_brake_point_min - 1; /* 1579 */
$medium_brake_point_max: $small_brake_point_min - 1; /* 1199 */
$tablet_brake_point_max: $tablet_brake_point_min - 1; /* 990 */
$phone_brake_point_max: $phone_brake_point_min - 1; /* 639 */
$start_phone_brake_point_max: $phone_brake_point_min - 1; /* 374 */

$extra_large: "(max-width: #{$extra_brake_point_max}px)"; /* максимальная ширина 1919 */
$extra: "(min-width: #{$extra_brake_point_max}px)"; /* минимальная ширина 1920 */
$large: "(max-width: #{$large_brake_point_max}px)"; /* минимальная ширина 1580 */
$medium: "(max-width: #{$medium_brake_point_max}px)"; /* максимальная ширина 1200 */
$tablet: "(max-width: #{$tablet_brake_point_max}px)"; /* максимальная ширина 990 */
$phone: "(max-width: #{$phone_brake_point_max}px)"; /* максимальная ширина 640 */
$start_phone: "(max-width: #{$start_phone_brake_point_max}px)"; /* максимальная ширина 375 */

@mixin w1920 {
  @media #{$extra_large} {
    @content;
  }
}

@mixin w1580 {
  @media #{$extra} {
    @content;
  }
}

@mixin w1200 {
  @media #{$large} {
    @content;
  }
}

@mixin w991 {
  @media #{$medium} {
    @content;
  }
}

@mixin w640 {
  @media #{$tablet} {
    @content;
  }
}

@mixin w375 {
  @media #{$phone} {
    @content;
  }
}