@import "modules/init";
@import "include/fonts";
@import "include/variables";
@import "include/buttons";
@import "include/common";
@import "include/full-width-page";
@import "include/forms";
@import "include/modals";
@import "include/custom";

@import "block/header";
@import "block/logo";
@import "block/profile-section";


.profile-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &-item {
    max-width: calc(25% - 10px);
    width: 100%;

    @include _375 {
      max-width: 100%;
    }

    &.x6 {
      max-width: calc(50% - 10px);
    }

    &.x12 {
      max-width: calc(100%);
    }
  }
}